/* external css: flickity.css */

.carousel img {
    height: 38vh;
  }
   .flickity-prev-next-button,
  .flickity-prev-next-button:hover{
      background: none; 
      border: none; 
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit; 
    }
  
    /* Optional: Add custom styling to the buttons if needed */
    .custom-prev-button,
    .custom-next-button {
      /* Add your custom styles here */
    }/* external css: flickity.css */

.carousel img {
    height: 38vh;
  }
   .flickity-prev-next-button,
  .flickity-prev-next-button:hover{
      background: none; 
      border: none; 
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit; 
    }
  
    /* Optional: Add custom styling to the buttons if needed */
    .custom-prev-button,
    .custom-next-button {
      /* Add your custom styles here */
    }